html,
body {
	margin: 0;
	padding: 0;
}

    body {
      color: #333333;
      margin: 0;
      text-align: center;
    }

    .header{
      background-color: #333333;
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }

  
    .header{
      margin: 0px;
    }
  
    .header ul li {
      display: inline-block;
      padding: 0 20px;
    }
    
  .header{
		color:#FFFFFF	
		
  
    }
    .top {
      background-image: url(https://prtimes.jp/i/30268/207/origin/d30268-207-436463-0.png);
      background-size: cover;
      padding: 300px 0;
    }
      .member{
      background-color: #FFFFFF;
      padding: 50px;
    }

* {
  box-sizing: border-box;
  }

/* ポップアップウインドウの設定 */
.popup {
  background-color: #efefef;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, .8);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 66vw;
  height: 40vw;
  overflow-y: scroll;
}
/* チェックボックスの初期設定 */
#popup-on{
  display: none;
}
/* チェックされたらポップアップウインドウを開く */
#popup-on:checked + .popup{
  display: block;
}

/* 閉じるアイコン（右上） */
.icon-close{
  background: #000;
  color: #fff;
  font-size: 30px;
  padding: 0 10px;
  position: absolute;
  right: 0;
}

/* 閉じるボタン */
.btn-close{
  background: #000;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  margin: 10px auto;
  width: 95%;
  text-align: center;
}

/* 開くボタン */
.btn-open{
  background: #fff;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  margin: 10px auto;
  width: 95%;
  text-align: center;
}

/* ポップアップの内容 */
.popup-content{
  margin: 20px auto 20px auto;
  width: 50%;
}

.NEWS{
	background-color: #FFFFFF;
	padding: 200px 0;
}

dl{
  background:#eee;
  padding:30x;
  width:10000x;
	height:500px;
}

dt{
  color:#333333;
  font-weight:bold;
  padding:0 10px 0 0;
  float:left;
  margin-bottom:7px;
}

dd{
  color:#333;
  margin-bottom:95px;
}

dl::after {
    content: '';
    display: block;
    clear: both;
}
  
  
